# ========================
# OS / IDE
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Backend / Node
# ========================
backend/node_modules/
backend/.env
backend/dist/

# ========================
# Frontend / React / Next.js
# ========================
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
